{
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"jsxSingleQuote": true,
	"semi": false,
	"arrowParens": "avoid",
	"importOrderSeparation": true,
	"importOrderSortSeparation": true
}
